src/step_functions/definition.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Lambda Invoke",
  "States": {
    "Lambda Invoke": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "arn:aws:lambda:eu-west-1:<account_id>:function:weather-ingestion-engine:$LATEST",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Glue StartJobRun",
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Next": "SNS Publish"
        }
      ]
    },
    "SNS Publish": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Arguments": {
        "TopicArn": "arn:aws:sns:eu-west-1:<account_id>:WeatherPipelineAlerts",
        "Message": "The ingestion Lambda failed. Silver layer update aborted."
      },
      "End": true
    },
    "Glue StartJobRun": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Arguments": {
        "JobName": "Silver Transformer"
      },
      "Next": "StartSilverCrawler"
    },
    "StartSilverCrawler": {
      "Type": "Task",
      "Arguments": {
        "Name": "WeatherSilverCrawler"
      },
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}
